@using TopSpeed.Domain.ApplicationEnums;
@model Post

<div class="container">
    <div class="card">
        <div class="card-header text-center text-uppercase">
            @Model.Name Details
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Name</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @Model.Name</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Brand</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @Model.Brand.Name</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Vehicle Type</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @Model.VehicleType.Name</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Engine / Fuel Type</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @((EngineAndFuelType)Model.EngineAndFuelType)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Transmission</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @((Transmission)Model.Transmission)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Engine</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @Model.Engine / CC</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Top Speed</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @Model.TopSpeed / Kmph</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Mileage</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @Model.Mileage / Per Liter</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Range</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @Model.Range / KM</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Seating Capacity</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @Model.SeatingCapacity / Person</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Base Model</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @Model.PriceFrom.ToString("c")</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Top-End Model</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @Model.PriceTo.ToString("c")</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Ratings</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @Model.Ratings / 5</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    @if (Model.VehicleImage != null)
                    {
                        <img src="@Model.VehicleImage" width="100%">
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="@Url.Action("GoBack","Home",new { page = ViewBag.CurrentPage })" class="btn btn-danger">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>