@model Brand

<div class="container">
    <div class="card">
        <div class="card-header text-center text-uppercase">
             Brand Details
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Id</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @Model.Id</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Name</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @Model.Name</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Created On</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @Model.CreatedOn</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Created By</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @((Model.CreatedBy == String.Empty) ? "NA" : Model.CreatedBy)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Modified On</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @((Model.ModifiedOn == DateTime.MinValue) ? "NA" : Model.ModifiedOn.ToString())</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="card-text text-uppercase"><strong>Modified By</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="card-text">: @((Model.ModifiedBy == String.Empty) ? "NA" : Model.ModifiedBy)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.BrandLogo" width="100%">
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a asp-area="Admin" asp-controller="Brand" asp-action="Index" class="btn btn-danger">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>