@model VehicleType

<div class="card">
    <div class="card-header text-center text-uppercase">
        Vehicle Type Details
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <p class="card-text text-uppercase"><strong>Id</strong></p>
            </div>
            <div class="col-sm-8">
                <p class="card-text">: @Model.Id</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="card-text text-uppercase"><strong>Name</strong></p>
            </div>
            <div class="col-sm-8">
                <p class="card-text">: @Model.Name</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="card-text text-uppercase"><strong>Created On</strong></p>
            </div>
            <div class="col-sm-8">
                <p class="card-text">: @Model.CreatedOn</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="card-text text-uppercase"><strong>Created By</strong></p>
            </div>
            <div class="col-sm-8">
                <p class="card-text">: @((Model.CreatedBy == Guid.Empty) ? "NA" : Model.CreatedBy)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="card-text text-uppercase"><strong>Modified On</strong></p>
            </div>
            <div class="col-sm-8">
                <p class="card-text">: @((Model.ModifiedOn == DateTime.MinValue) ? "NA" : Model.ModifiedOn.ToString())</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="card-text text-uppercase"><strong>Modified By</strong></p>
            </div>
            <div class="col-sm-8">
                <p class="card-text">: @((Model.ModifiedBy == Guid.Empty) ? "NA" : Model.ModifiedBy)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a asp-area="Admin" asp-controller="VehicleType" asp-action="Index" class="btn btn-danger">Back</a>
            </div>
        </div>
    </div>
</div>
